body {
    font-family: Arial, sans-serif;
    background-color: #fffae6;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #2d8659;
    margin-bottom: 30px;
}

table {
    width: 90%;
    margin: 20px auto;
    background: white;
    border-collapse: collapse;
    border: 2px solid #f4d03f;
}

th {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    text-align: center;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

tr:hover {
    background-color: #fff9c4;
}
.prepared {
    color: #4caf50;
    font-weight: bold;
}

.preparing {
    color: #ff9800;
    font-weight: bold;
}

p {
    text-align: center;
    color: #666;
    font-size: 18px;
}

footer p{
    text-align: center;
    color: black;
}